services:
  wordpress:
    image: wordpress:latest
    restart: on-failure:5 
    depends_on: 
      - db
    ports:
      - "8000:80"
    networks: 
      - wp-net
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
    volumes:
      - wordpress_data:/var/www/html 

  db:
    image: mysql:8.0 
    restart: on-failure:5 
    networks: 
      - wp-net
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: ${MYSQL_RANDOM_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql 

volumes: 
  wordpress_data:
  db_data:

networks: 
  wp-net: 
